* {
	font-family: "CaskaydiaMono Nerd Font", sans-serif;
	font-size: 13px;
}

#waybar {
	background-color: transparent;
	/* background-color: #1a1b26; */
	color: #c6d0f5;
	font-weight: 500;
}

#workspaces,
#cpu {
	/* background-color: #1a1b26; */
	padding: 0.3rem 0.7rem;
	margin: 5px 0px;
	border-radius: 6px;
	border: none;
	transition:
		background-color 0.2s ease-in-out,
		color 0.2s ease-in-out;
}

#workspaces {
	margin-left: 7px;
}

#workspaces button {
	color: #babbf1;
	border-radius: 5px; /* Workspaces buttons are always rounded */
	padding: 0.3rem 0.6rem;
	background: transparent;
	transition: all 0.2s ease-in-out;
	border: none;
	outline: none;
}

#workspaces button.active {
	color: #99d1db;
	background-color: rgba(153, 209, 219, 0.1);
	box-shadow: inset 0 0 0 1px rgba(153, 209, 219, 0.2);
}

#workspaces button:hover {
	background: rgb(41, 42, 53); /* Reference bright hover color */
	color: #c6d0f5;
}

#cpu {
	margin-left: 7px;
}

#cpu:hover {
	background-color: rgb(41, 42, 53); /* Brighter highlight */
}

#clock {
	padding: 0.3rem 0.7rem;
	margin: 5px 0px;
	border-radius: 6px;
	min-width: 0;
	border: none;
	transition:
		background-color 0.2s ease-in-out,
		color 0.2s ease-in-out;
}

#clock:hover {
	background-color: rgba(153, 209, 219, 0.1);
}

#pulseaudio,
#network,
#memory,
#custom-power,
#custom-updates,
#bluetooth {
	padding: 0.3rem 0.7rem;
	margin: 5px 0px;
	border-radius: 6px;
	border: none;
	transition:
		background-color 0.2s ease-in-out,
		color 0.2s ease-in-out;
}

#bluetooth:hover,
#custom-power:hover,
#network:hover,
#memory:hover,
#pulseaudio:hover {
	background-color: rgba(41, 42, 53, 1);
}

#bluetooth,
#pulseaudio {
	margin-right: 7px;
}

#custom-power {
	padding: 1rem;
	margin-right: 14px;
}

#network {
    padding: 0 10px;
		margin-right: 7px;
}

#custom-power {
	padding: 0.7rem 0.7rem;
}

#custom-updates {
	padding: 0.7rem 0.7rem;
}
